# Database Credentials
DB_HOST=ls-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.cuckp33kdnyr.ap-northeast-1.rds.amazonaws.com
DB_USER=dbmasteruser
DB_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DB_PORT=3306

# Database Name
DB_NAME=expenditure_records

# FLASK WEBSITE API Token
ADMIN_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# GITHUB TOKEN
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# TELEGRAM
TELEGRAM_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TG_BOT_OWNER_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BOTCREATER_CHAT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
USER_TELEGRAM_LINK=https://t.me/your_telegram_handle
BOTCREATER_TELEGRAM_HANDLE=@your_telegram_handle
TELEGRAM_OWNER_FIRST_NAME=your_first_name
TELEGRAM_OWNER_USERNAME=your_telegram_username
TELEGRAM_BOT_WEBHOOK_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

RESET_TELEGRAM_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

TRADINGVIEW_WEBHOOK=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TRADINGVIEW_WEBHOOK_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# BINANCE API KEY AND SECRET
BINANCE_LTD_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BINANCE_LTD_API_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TRADING_VOLUME_LIMIT=20000000
INITIAL_FUND=100000

# CHECK_SIZE SHOULD BE 1/10 OF INITIAL_FUND
CHECK_SIZE=10000

BINANCE_DEPOSIT_ADDRESS_FOR_ERC20=0xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BINANCE_BASE_URL=https://api.binance.com
BINANCE_TICKER_URL=https://api.binance.com/api/v3/ticker/24hr

# TRADING CRITERIA
FULLLY_DILUTED_MARKET_CAP_UP_LIMIT=5000000000
MARKET_CAP_DOWN_LIMIT=30000000
CIRCULATION_RATIO=0.3
# target profit is 5%
TARGET_PROFIT=0.03


# OTHERS
REPLICATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
STABILITY_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_MODEL=gpt-4-1106-preview
WOLFRAM_ALPHA_APPID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

PINECONE_FREE=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PINECONE_FREE_ENV=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
INFURA_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
INFURA_URL=https://mainnet.infura.io/v3/
CMC_PA_API=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FINNHUB_API=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ETHERSCAN_API=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MORALIS_API=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MORALIS_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MORALIS_APP_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DEBANK_API=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

ELEVEN_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BING_SEARCH_API=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SPEECH_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SPEECH_REGION=westus2

# WEBHOOK ADDRESS
WEBHOOK_ADDRESS=https://wh.leowang.net/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

FULLCHAIN=/etc/letsencrypt/live/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxt/fullchain.pem
PRIVKEY=/etc/letsencrypt/livexxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/privkey.pem

# TELEGRAM BROADCAST BOT
TG_BROADCAST_BOT_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TG_BROADCAST_BOT_LINK=https://t.me/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TG_BROADCAST_BOT_HANDLER=@xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# TELEGRAM CHANNEL
TG_BROADCAST_CHANNEL_CHAT_ID=-1002102492022
TG_BROADCAST_CHANNEL_TITLE=Hot_Coin_of_Today
TG_BROADCAST_CHANNEL_USERNAME=@xxxxx
TG_BROADCAST_CHANNEL_LINK=https://t.me/xxxxx

# JP_SERVER_DATABASE
UBUNTU_SERVER_JP_DB_HOST=xxxx
UBUNTU_SERVER_JP_DB_PORT=xxxx
UBUNTU_SERVER_JP_DB_USER=master
UBUNTU_SERVER_JP_DB_PASSWORD=xxxxxxxx
UBUNTU_SERVER_JP_DB_NAME=xxxxx

#GOOGLE GEMINI API
GEMINI_API_KEY=xxxxxxxxx

# START_UPDATE_ID
UPDATE_ID=1234554321

# OKX API, SECRET, PASSPHRASE
OKX_API_KEY=xxxxxxx
OKX_API_SECRET=xxxxxxx
OKX_API_PASSPHRASE=xxxxxx

# GMAIL APP PASSWORD
GMAIL_ADDRESS_MAIN=xxxxxxx
GMAIL_ADDRESS=xxxxxxxx
GMAIL_APP_PASSWORD=xxxxxxxx