DB_HOST=XXXXXX
DB_USER=XXXXXX
DB_PASSWORD=XXXXXX
DB_PORT=3306
DB_NAME=expenditure_records

# PUT YOUR OPENAI API KEY HERE
OPENAI_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXX
OPENAI_MODEL=gpt-4-1106-preview

# TELEGRAM
TELEGRAM_TOKEN=XXXXX:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TG_BOT_OWNER_ID=XXXXXXX


# BINANCE API KEY AND SECRET
BINANCE_LTD_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
BINANCE_LTD_API_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TRADING_VOLUME_LIMIT=50000000
INITIAL_FUND=100000
# CHECK_SIZE SHOULD BE 1/10 OF INITIAL_FUND
CHECK_SIZE=10000

BINANCE_BASE_URL=https://api.binance.com
BINANCE_TICKER_URL=https://api.binance.com/api/v3/ticker/24hr

# TRADING CRITERIA
FULLLY_DILUTED_MARKET_CAP_UP_LIMIT=5000000000
MARKET_CAP_DOWN_LIMIT=100000000
CIRCULATION_RATIO=0.5
# target profit is 5%
TARGET_PROFIT=0.05

CMC_PA_API=XXXXXXXXXXXX

