Flask
Flask-RESTful
Flask-HTTPAuth
mysql-connector-python
python-dotenv
werkzeug
openai
aiogram
tenacity
requests
pandas
chardet
xlrd
langdetect
pandas
eth-account
mnemonic
web3
moralis
sqlalchemy
matplotlib

